.paper 
{
	background-image: url("paper.jpg");
	margin: 100px auto;
	width: 750px;
}

.headline 
{
	text-align: center;
	padding-top: 20px;
	font-size: 5em;
	font-weight: bold;
}

.tagline 
{
	width: 700px;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: black;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.tagline::after 
{
    content: "";
    clear: both;
    display: table;
}

.date 
{
	float: left;
    margin-left: 2%;
	padding: 5px 0;
}

.volume 
{
	float: right;
    margin-right: 2%;
	padding: 5px 0;
}

.main-story
 {
	margin: auto;
	width: 700px;
	padding-bottom: 25px;
}

.story-title
 {
	text-align: center;
	font-size: 3em;
}

.main-image 
{
	
}

.caption 
{
	display: block;
	text-align: center;
	font-size: 0.75em;
	color: grey;
}

.story 
{
	text-align: justify;
	column-count: 2;
	column-rule-style: solid;
	column-rule-width: 1px;
	column-gap: 40px;
}

body 
{
	background-image: url("tileable_wood_texture.png");
}

img
{
	display: block;
	margin: auto;
}